/* line 4, ../sass/_general.scss */
body {
  font-family: "Poppins";
  background-color: #fffeff; }

/* line 9, ../sass/_general.scss */
a:hover {
  color: white !important;
  text-decoration: none !important; }

/* line 14, ../sass/_general.scss */
h2 {
  font-size: 36px !important;
  display: block !important;
  font-weight: 600 !important; }
  @media screen and (max-width: 992px) {
    /* line 14, ../sass/_general.scss */
    h2 {
      font-size: 30px !important; } }

/* line 24, ../sass/_general.scss */
h3 {
  font-size: 18px;
  font-weight: 400; }

@media screen and (min-width: 1140px) {
  /* line 29, ../sass/_general.scss */
  .container-fluid {
    max-width: 1400px; } }

/* line 1, ../sass/_navbar.scss */
nav {
  background-color: #f57a30;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  width: 100%;
  z-index: 1000; }
  /* line 11, ../sass/_navbar.scss */
  nav div {
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    /* line 16, ../sass/_navbar.scss */
    nav div button.log-in-btn {
      height: 39px;
      background-color: #231f20;
      color: #fffaf0;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: -0.35px;
      border: 0;
      width: 118px;
      border-radius: 50px; }
      /* line 28, ../sass/_navbar.scss */
      nav div button.log-in-btn:hover {
        background-color: #f8b185; }
    /* line 33, ../sass/_navbar.scss */
    nav div button.search-btn {
      color: #fffaf0;
      border: 0;
      background-color: transparent;
      margin: 0 37px 0 20px; }
  /* line 41, ../sass/_navbar.scss */
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0; }
    /* line 46, ../sass/_navbar.scss */
    nav ul li {
      list-style-type: none;
      color: white;
      padding: 20px; }
      /* line 51, ../sass/_navbar.scss */
      nav ul li:hover {
        background-color: #f8b185; }

/* line 58, ../sass/_navbar.scss */
.carousel-caption {
  margin-bottom: 140px; }

/* line 1, ../sass/_slider.scss */
.carousel-item img {
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover; }

/* line 6, ../sass/_slider.scss */
.logo-over-slider {
  position: absolute;
  width: 100%;
  height: 100px;
  -webkit-box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.09);
          box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.09);
  background-color: rgba(255, 241, 207, 0.85);
  z-index: 1;
  text-align: center; }

/* line 16, ../sass/_slider.scss */
.carousel-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 60px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f57a30;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%; }

/* line 33, ../sass/_slider.scss */
.carousel-control-next-icon, .carousel-control-prev-icon {
  height: 60px; }

/* line 37, ../sass/_slider.scss */
.carousel-indicators {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 40, ../sass/_slider.scss */
  .carousel-indicators li {
    width: 8px;
    height: 8px;
    line-height: 1;
    margin: 0 10px;
    border: none;
    border-radius: 50%;
    position: relative; }
    /* line 49, ../sass/_slider.scss */
    .carousel-indicators li:before {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%) scale(2);
              transform: translate(-50%, -50%) scale(2);
      border: 1px solid #fff;
      border-radius: 50%;
      opacity: 0;
      -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.47, 0.34, 0.01, 0.99);
      transition: -webkit-transform 1000ms cubic-bezier(0.47, 0.34, 0.01, 0.99);
      transition: transform 1000ms cubic-bezier(0.47, 0.34, 0.01, 0.99);
      transition: transform 1000ms cubic-bezier(0.47, 0.34, 0.01, 0.99), -webkit-transform 1000ms cubic-bezier(0.47, 0.34, 0.01, 0.99); }
    /* line 64, ../sass/_slider.scss */
    .carousel-indicators li.active:before {
      opacity: 1;
      -webkit-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1); }

/* line 73, ../sass/_slider.scss */
.carousel-caption p {
  margin-bottom: 35px; }

/* line 1, ../sass/_btn.scss */
.btn-orange {
  color: #fffeff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  /*Stylefor"Rounded Re"*/
  padding: 16px 40px;
  background-color: #f57a30;
  border: 0;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px; }
  /* line 20, ../sass/_btn.scss */
  .btn-orange:hover {
    background-color: #f8b185; }

/* line 25, ../sass/_btn.scss */
.btn-orange-sm {
  color: #fffeff;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  /*Stylefor"Rounded Re"*/
  padding: 12px 31px;
  background-color: #f57a30;
  border: 0;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px; }
  /* line 44, ../sass/_btn.scss */
  .btn-orange-sm:hover {
    background-color: #f8b185; }

/* line 49, ../sass/_btn.scss */
.btn-test {
  color: white;
  background: red;
  padding: 12px;
  border-radius: 5px; }

/* line 56, ../sass/_btn.scss */
.btn-orange-revers {
  color: #f57a30;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 45px;
  border: 2px solid #f57a30;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px; }
  /* line 71, ../sass/_btn.scss */
  .btn-orange-revers:hover {
    background-color: #f8b185; }

/* line 3, ../sass/_social.scss */
div.row div {
  margin: 17px;
  border-radius: 5px;
  border: 1px solid rgba(245, 122, 48, 0.33);
  background-color: #fffeff;
  padding: 0; }
  /* line 10, ../sass/_social.scss */
  div.row div h4 {
    color: #fffeff;
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    background-color: #84425d;
    padding: 22px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0; }
  /* line 25, ../sass/_social.scss */
  div.row div button {
    margin-bottom: 35px; }

/* line 31, ../sass/_social.scss */
.instagram .insta-photos {
  border: 0; }
  /* line 34, ../sass/_social.scss */
  .instagram .insta-photos img {
    max-width: 170px;
    height: auto;
    border: 0;
    margin: 10px;
    padding: 0; }

/* line 43, ../sass/_social.scss */
.social-media {
  margin: 110px 0; }
  /* line 47, ../sass/_social.scss */
  .social-media .container {
    max-width: none; }

/* line 1, ../sass/_welcome.scss */
.weclocme-section {
  background-image: url(/accessories/jordan-arnold-612264-unsplash.png);
  background-color: rgba(255, 241, 207, 0.7);
  height: 650px; }
  /* line 6, ../sass/_welcome.scss */
  .weclocme-section .welcome-content {
    padding: 55px;
    text-align: center;
    width: 720px; }
    /* line 11, ../sass/_welcome.scss */
    .weclocme-section .welcome-content h1 {
      font-weight: 600;
      font-size: 30px; }
    /* line 15, ../sass/_welcome.scss */
    .weclocme-section .welcome-content .border-welcome {
      width: 60px;
      border-bottom: 2px solid #f57a30;
      margin: 20px auto; }

/* line 1, ../sass/_partner.scss */
.featured-partner {
  background-image: url(/accessories/jordan-arnold-612264-unsplash_copy_4.png);
  background-color: #84425d;
  color: white;
  background-repeat: no-repeat; }
  /* line 10, ../sass/_partner.scss */
  .featured-partner h2 {
    padding: 100px 0 35px 0;
    margin-bottom: 0; }
    @media screen and (max-width: 992px) {
      /* line 10, ../sass/_partner.scss */
      .featured-partner h2 {
        padding: 50px 0 20px 0; } }
  /* line 19, ../sass/_partner.scss */
  .featured-partner img {
    padding: 0 0 115px 0;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover; }
    @media screen and (max-width: 992px) {
      /* line 19, ../sass/_partner.scss */
      .featured-partner img {
        width: 80%;
        padding: 0 0 50px 0; } }

/* line 1, ../sass/_events.scss */
.day {
  color: #fecf61;
  font-size: 40px;
  font-weight: 400;
  font-variant-numeric: tabular-nums; }

/* line 8, ../sass/_events.scss */
.month {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase; }

/* line 15, ../sass/_events.scss */
div.upcoming-events {
  padding: 110px 0; }
  /* line 19, ../sass/_events.scss */
  div.upcoming-events h2 {
    margin-bottom: 60px; }
  /* line 23, ../sass/_events.scss */
  div.upcoming-events div {
    padding: 50px 45px; }
  /* line 28, ../sass/_events.scss */
  div.upcoming-events .btn-vrap {
    padding: 0;
    border: 0;
    margin-top: 70px; }
  /* line 35, ../sass/_events.scss */
  div.upcoming-events .date {
    background-color: #84425d;
    padding: 20px;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    margin: 0 auto 30px; }
  /* line 45, ../sass/_events.scss */
  div.upcoming-events h3 {
    color: #84425d;
    line-height: 30px;
    height: 90px;
    vertical-align: middle; }
  /* line 53, ../sass/_events.scss */
  div.upcoming-events .border-event {
    width: 150px;
    padding: 0;
    margin: 20px auto 25px; }
  /* line 59, ../sass/_events.scss */
  div.upcoming-events p {
    color: #f57a30;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    height: 70px;
    margin-bottom: 35px; }

/* line 74, ../sass/_events.scss */
div.row .event-single-home {
  background-color: #fff1cf;
  background-image: url(/accessories/2-layers.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none; }
  /* line 84, ../sass/_events.scss */
  div.row .event-single-home a {
    bottom: 15px; }

/* line 1, ../sass/_ourservices.scss */
.our-services {
  padding: 100px 0 110px;
  background-image: url(/accessories/Layer_25.png);
  background-size: cover; }
  /* line 6, ../sass/_ourservices.scss */
  .our-services .our-services-vraper {
    border: 0;
    padding: 0; }
    /* line 10, ../sass/_ourservices.scss */
    .our-services .our-services-vraper .service {
      margin: 0;
      border-color: #e1e4ed;
      border-radius: 0;
      border: 0 1px 0 0; }

/*# sourceMappingURL=laca.css.map */