.btn-orange{
    color: #fffeff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    /*Stylefor"Rounded Re"*/
    // width: 178px;
    // height: 50px;
    padding: 16px 40px;
    background-color: $laca-orange;
    border: 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    &:hover{
        background-color: $laca-orange-hover; 
    }
}

.btn-orange-sm{
    color: #fffeff;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    /*Stylefor"Rounded Re"*/
    // width: 178px;
    // height: 50px;
    padding: 12px 31px;
    background-color: $laca-orange;
    border: 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    &:hover{
        background-color: $laca-orange-hover; 
    }
}

.btn-orange-revers{

    color: $laca-orange;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 55px;
    border: 2px solid $laca-orange;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    &:hover{
        background-color: $laca-orange-hover; 
    }
}

.btn-orange-link{
    color: $laca-orange;
    font-size: 12px;
    font-weight: 600;
    line-height: 33px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 6px 0;
   

    &:hover{
        color: $laca-orange !important;
    }

    &:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $laca-orange;
        transition: width .3s;
    }
    
    &:hover::after {
        width: 100%;
        // transition: width .3s;
    }
}
