.day{
    color: #fecf61;
    font-size: 40px;
    font-weight: 400;
    font-variant-numeric: tabular-nums;
}

.month{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

div.upcoming-events{

    padding: 110px 0;

    @media screen and (max-width: 992px) {
        padding: 30px 0;
      }

    h2{
        margin-bottom: 60px;
        @media screen and (max-width: 992px) {
            margin-bottom: 0;
          }
    }

    div{
        padding: 50px 45px;
      
    }

    .btn-vrap{
        padding: 0;
        border: 0;
        margin-top: 70px;
    }

 
    .date{
        background-color: $laca-purple;
        padding: 20px;
        border-radius: 50%;
        height: 130px;
        width: 130px;
        margin: 0 auto 30px;

    }

    h3{
        color: #84425d;
        line-height: 30px;
        height: 90px;
        vertical-align: middle;
      
    }

    .border-event{
        border: 0;
        border-bottom: 1px solid rgba($laca-orange, 0.4);
        width: 150px;
        padding: 0;
        margin: 20px auto 25px;
    }
    
    p{
        
        color: $laca-orange;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        height: 70px;
        margin-bottom: 35px; 

    }
}


div.row{

    .event-single-home{
        background-color: rgba($laca-yellow, 1);
        background-image: url(/accessories/2-layers.png);
        background-position: center; 
        background-repeat: no-repeat;
        background-size: cover;
        // position: relative;
        border: none;
        // height: 100%;
        margin: 0 17px;
        border-radius: 5px;

        @media screen and (max-width: 992px) {
            margin: 30px;
          }

        a{
            bottom: 15px;
            
        }
    }
}