nav.navbar{
    
    background-color: $laca-orange;
    z-index: 1100;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.35px;
    padding: 0;
    position: sticky;
    top: 0;
    // height: 65px;
    button.navbar-toggler{
        padding: 15px;
    }
    .navbar-toggler-icon{
        width: 0;
        height: 0;
        vertical-align: top;
        margin: 0 15px;
    }
    
    a{

        color: #fffaf0;
        padding: 15px 0;
    }

    li.active{
        a{
            color: black;
            font-weight: 700;
        }
    }
  
    form{
        padding: 15px;
    }
    button.log-in-btn{
        height: 39px;
        background-color: #231f20;
        color: #fffaf0;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: -0.35px;
        border: 0;
        width: 118px;
        border-radius: 50px;
        
        &:hover{
            background-color: $laca-orange-hover
        } 
    }

        button.search-btn{
            color: #fffaf0;
            border: 0;
            background-color: transparent;
            margin: 0 37px 0 20px;
        }
    
    ul{
        li{
            padding: 12px 4px;

            @media screen and (max-width: 1200px) {
                font-size: 16px;
                font-weight: 600;  
                padding: 0;           
              }

         &:hover{
                background-color: $laca-orange-hover 
            }   
        }   
    }     
}

