.regional-news{
    background-color: $laca-yellow;
    margin: 0;
    padding: 110px 0 100px;

    h2{
        margin-bottom: 60px; 
    }

    .regional-news-vrap{
        margin-bottom: 50px; 
    }
    
    .card {
        width: 100%;
        border: 0;
        border-radius: 0;
        margin-bottom: 20px;
        height: 500px;
        position: relative;

        @media screen and (max-width: 768px) {
            height: auto;
        }

        .card-date{
            background: #000000;
            padding: 0px 8px!important;
            color: white;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.3px;
            position: absolute;
            margin: 20px 0 0 30px;
            top: 20!important;
            left: 30;

        }

        .card-body{
            position: relative;
            padding: 35px 30px;

            a{
                position: absolute;
                bottom:15px;
            }
        }


        .card-img-top{
            border-radius: 0;
        }
    }
}

.card-body{
    p{

    color: #231f20;
    line-height: 24px;
    }
}