.our-services{
    padding: 100px 0 110px;
    background-image: url(/accessories/Layer_25.png);
    background-size: cover; 

    h2{
        margin-bottom: 60px;
    }

    .our-services-vraper {
        border: 0;
        padding: 0;

        // just cols
        > div {

            &:not(:last-child) {
                padding-right: 0;
            }

            &:not(:first-child) {
                padding-left: 0;
            }

            // &:last-child {

            // }
        }

        .service {
            margin: 0;
            border-radius: 0;
            border: 0;
            padding-top: 90px;
            padding-bottom: 120px;
            background-color: $background;

            // &:last-child{
            //     .service-vrap-single{
            //         &:before {
            //             display: none;
            //         }
            //     }
            // }

            @media screen and (max-width: 992px) {
                margin: auto;
                border-bottom: 1px solid $laca-gray;
                
              }

            .service-vrap-single {
                height: 320px;
                // border-right: 1px solid $laca-gray;
                padding: 0 60px;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    // right: -15px;
                    right: 0;
                    bottom: 0;
                    width: 1px;
                    background-color: $laca-gray;
                }

                @media screen and (max-width: 992px) {
                    border: 0;
                    padding: 0 15px;
                  }

                @media screen and (max-width: 576px) {
                    border: 0;
                  }

                span img{
                    margin-bottom: 35px;
                }

                h3{
                    line-height: 30px;
                }

                .border-service{
                    border: 0;
                    border-bottom: 1px solid $laca-orange;
                    width: 70px;
                    margin: 30px auto;
                }

                P{
                    margin-bottom: 50px;
                }

                a{
                    margin-top: 50px;
                }
            }

        }
    }
}