// position of navigation
.slick-prev {
    left: 0px;
} 

.slick-next {
    right: 0px;
    z-index: 1000;
}

.slick-prev, .slick-next {
    display: flex;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    // background-image: url(accessories/svgs/angle-left.svg);
    background-color: $laca-orange;
    border-radius: 50%;
    z-index: 1000;
    font-size: 0;

    &::before{
        font-size: 0;
    }
    // right: 0;
    // left: 0;

    
    &:focus{
        display: flex;
        flex-shrink: 0;
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
        background-color: $laca-orange;
        border-radius: 50%;
        z-index: 1000;
    }
    &:hover{
        background-color: $laca-orange-hover;
    }
}
// //**************************************************************

.latest-news-container{
  
    max-width: 1400px;
    margin: auto;
}

.slick-slide {

  
    >div{

        a{

            .slider-item{
                position: relative;
                height: 420px;
                z-index: -5;
                color: white;
            
                p{
                    z-index: 1000;
                    position: absolute;
                    top: 50px;
                    padding: 35px;
            
                }
    
                img {
                    width: 100%!important;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
   
}

/* the slides */
.slick-slide {
    margin: 0 20px;
}
/* the parent */
.slick-list {
    margin: 0 17px;
}


