.latest-news-container{
  
    max-width: 1345px;
    margin: auto;
    position: relative;


    .fa-chevron-right, .fa-chevron-left{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 23px 27px;
        background-color: $laca-orange; 
        z-index: 100;
        border-radius:50%;
        color: white; 
        font-size: 20px;
        @media screen and (max-width: 992px) {
            background-color: rgba($laca-orange, 0.3) 
          }
    }

    .fa-chevron-left{
        left: -5px;

        @media screen and (max-width: 1400px) {
            left: 0;
          }
    }

    .fa-chevron-right{
        right: -5px;

        @media screen and (max-width: 1400px) {
            right: 0;
          }
    }
}

.slick-slide {
 
    >div{

        a{

            .slider-item{
                position: relative;
                height: 420px;
                color: white;
                
                &:after {
                    content: '';
                    display: block;
                    position: relative;
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgb(0, 0, 0) 90%);
                    margin-top: 0px;
                    height: 100%;
                    width: 100%;
                  }
            
                p.slider-date{
                    z-index: 1;
                    position: absolute;
                    bottom: 160px;
                    left: 15px;
                    padding: 0 35px;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 33px;
                    text-transform: uppercase;
                    letter-spacing: 0.35px;

                    @media screen and (max-width: 550px){
                        padding: 0;
                    }
            
                }

                p.slider-title{
                    z-index: 1000;
                    position: absolute;
                    bottom: 70px;
                    left: 15px;
                    padding: 0 35px;
                    font-size: 30px;
                    font-weight: 600;
                    @media screen and (max-width: 550px){
                        padding: 0;
                    }
                }

                .slider-footer{
                    position: absolute;
                    left: 50px;
                    bottom: 30px;
                    z-index: 1000;
                    padding: 0 0px;
                    width: 80%;
                    @media screen and (max-width: 550px){
                        left: 15px;
                    }

                    .slider-footre-vrapper{
                        position: relative;
                        font-weight: 600;

                       

                        .read-more{
                            color: $laca-orange;
                            // margin-right: 15px;
                            // display: inline-block;

                            &::after {
                                content: "";
                                position: absolute;
                                bottom: -2px;
                                display: block;
                                width: 0px;
                                background: $laca-orange;
                                height: 3px;
                                opacity: 0;
                                transition: opacity, width;
                                transition-duration: .3s;
                                // margin: 15px;
                              }

                          
                              
                            //   &:hover:after {
                            //     opacity: 1;
                            //     width: 100%;
                            //   }
                
                        }

                        .no-of-comments{
                            position: absolute;
                            right: 15px;

                            img{
                                width: 25px!important;
                                height: 25px;
                                right: 120px;
                            }
                        }
    
                    }

                }
    
                img {
                    width: 100%!important;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;

                }
            }
        }
    }
   
}

.slick-list {

    // margin: 0 -25px;
}

/* the slides */
.slick-slide {

    margin: 0 25px;

    a {
        display: block;
    }

    img {
        width: 100%;
        max-width: none;
    }
}



.slick-slide:hover  div a:hover .slider-item .slider-footer .slider-footre-vrapper .read-more::after{
   
    opacity: 1;
    width: 90px;
}