.btn-orange{
    color: #fffeff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    /*Stylefor"Rounded Re"*/
    // width: 178px;
    // height: 50px;
    padding: 19px 49px;
    background-color: $laca-orange;
    border: 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    &:hover{
        background-color: $laca-orange-hover; 
    }
}

.btn-orange-sm{
    color: #fffeff;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    /*Stylefor"Rounded Re"*/
    // width: 178px;
    // height: 50px;
    padding: 12px 31px;
    background-color: $laca-orange;
    border: 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    &:hover{
        background-color: $laca-orange-hover; 
    }
}

.btn-test{
    color: white;
    background: red;
    padding: 12px;
    border-radius: 5px;
}