// *{
//     border: 1px solid red;
// }
body{
    font-family: "Poppins";
    background-color: $background;
}

a:hover{
    color: white !important;
    text-decoration: none !important;
}

h2{
    font-size: 36px !important;
    display: block !important;
    font-weight: 600 !important;
    text-align: center;

    @media screen and (max-width: 992px){
        font-size: 30px !important;
    }

}

h3{
    font-size: 18px;
    font-weight: 600;
}

h4{
    font-size: 20px;
    font-weight: 700;
}

h5{
    font-size: 16px;
    font-weight: 600;
}

.container-fluid{
    @media screen and (min-width: 1140px){
       max-width: 1400px;
    //    background-color: red;
    }
}

p{
    font-size: 14px;
    font-weight: 400;
}

.text-white{
    color: fffeff;
}