nav{
    background-color: $laca-orange;
    font-weight: 400;
    display: flex;
    height: 64px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    
    div{
        flex-grow: 4;
        display: flex;
        justify-content: flex-end;
        
        button.log-in-btn{
            height: 39px;
            background-color: #231f20;
            color: #fffaf0;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: -0.35px;
            border: 0;
            width: 118px;
            border-radius: 50px;
            
            &:hover{

                background-color: $laca-orange-hover
            } 

        }

        button.search-btn{
            color: #fffaf0;
            border: 0;
            background-color: transparent;
            margin: 0 37px 0 20px;
        }
    }
    ul{
        display: flex;
        // justify-content: center;
        padding: 0;
        margin: 0;
        li{
            list-style-type: none;
            color: white;
            padding: 20px;

         &:hover{
                background-color: $laca-orange-hover 
            }
            
        }
        
    }
        
} 