// position of navigation
.slick-prev {
    left: 60px;
} 

.slick-next {
    right: 60px;
    z-index: 1000;
}

.slick-prev, .slick-next {
    display: flex;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: $laca-orange;
    border-radius: 50%;
    z-index: 1000;
    // right: 0;
    // left: 0;

    
    &:focus{
        display: flex;
        flex-shrink: 0;
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
        background-color: $laca-orange;
        border-radius: 50%;
        z-index: 1000;
    }
    &:hover{
        background-color: $laca-orange-hover;
    }
}
//**************************************************************


// .slick-slide {

//     margin: 18px;
//     border: 1px solid orange;
//     a{
//         // margin: 0;
//         // width: 665px;
//         border: 1px solid purple;

//         .slider-item{
//             position: relative;
//             color: white;
//             // height: 410px;
//             width: 665px;
//             z-index: -5;
//             border: 1px solid red;
        
//             p{
//                 z-index: 1000;
//                 position: absolute;
//                 top: 50px;
//                 // left: 15px;
//                 padding: 35px;
        
//             }

//             img {
//                 width: 100%!important;
//                 width: 665px;
//                 height: 100%;
//                 // max-height: 415px;
//                 object-fit: cover;
//                 // position: absolute;
//                 // top: 0;
//                 left: 0;
//                 // z-index: -5;
//             }
//         }
//     }

   
// }



