.carousel-item img {
    height: 700px;
    object-fit: cover;
}

.logo-over-slider{
    position: absolute;
    width: 100%;
    height: 100px;
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.09);
    background-color: rgba(#fff1cf, 0.85);
    z-index: 1;
    text-align: center;
}

.carousel-control{
    // padding: 15px 17px 9px 13px;
    // border: 1px solid red;
    display: flex;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: $laca-orange;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;     
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    height: 60px;
}

.carousel-indicators {
    align-items: center;
    
    li {
        width: 8px;
        height: 8px;
        line-height: 1;
        margin: 0 10px;
        border: none;
        border-radius: 50%;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(2);
            border: 1px solid #fff;
            border-radius: 50%;
            opacity: 0;
            transition: transform 1000ms cubic-bezier(0.47, 0.34, 0.01, 0.99);
        }
        
        &.active {
            &:before {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }
   
}

.carousel-caption p{
    margin-bottom: 35px;
}

